---
title: Cold Works Coffee
---

<div class="homepage">
  <div class="cold-works">
    <h1>Cold Works Coffee</h1>
  </div>
  <div class="about">
    <div class="sign-up">
      <h1>Sign up</h1>
    </div>
    <div class="team">
      <h1>What we do</h1>
    </div>
  </div>
</div>
